.wrapper {
  overflow: hidden;
}

.section-autor {
  max-width: 1234px;
  min-height: 100vh;
  margin: 0px auto;
  padding: 200px 20px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 80px;
}

@media (max-width: 768px) {
  .section-autor {
    gap: unset;
  }

  .section-autor {
    grid-template-columns: unset;
    place-items: center;
  }
}

@media (max-width: 750px) {}

.card {
  position: relative;
  perspective: 5000px;
}

@media (min-width: 300px) {
  .mockups {
    display: none;
  }
}

@media (min-width: 768px) {
  .mockups {
    display: block;
  }
}

.card-hero {
  display: grid;
  gap: 30px;
}

.hero-descripcion {
  font-weight: normal;
  color: white;
  font-size: 18px;
  line-height: 140%;
}

@media (max-width: 768px) {
  .hero-descripcion {
    width: 420px;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 450px) {
  .hero-descripcion {
    width: unset;
    font-size: 16px;
  }
}